
 
 
 
  .header{
    display: flex;
    justify-content :space-between;
    margin : 10px; 
    border : 2px solid black;
    color: white;
    background-color: whitesmoke
 }
 
 .nav-items > ul{
    list-style-type: none;
    display: flex;
    color:black
}
 .nav-items > ul >li{
    padding: 10px
 } 

.logo{
    width:100px 
}

.card{
    width:200px;
    border:2px solid rgb(69, 5, 5);
    padding:10px;
    margin:10px;
    color: black;
    background-color:rgb(247, 242, 242);
    display:flex;
    flex-wrap:wrap;
    border-style:double;
    
  
}

.card > img {
    width:200px;
    height:150px
  
}

.Restaurant-List{
    display:flex;
    flex-wrap:wrap;
    background-color:rgb(252, 248, 248);
   
} 

.shimmer-card{
    width:200px;
    height:200px;
    background: lightgray;
    margin:20px;
    display:flex;
    flex-wrap:wrap;
    height:355px
}

.restaurant-list{
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
   
} 
.menu-items{
    padding-bottom: 20px;
    margin-bottom: 20px;
    
   
}
